.navbar-brand{
    padding: 0;
}

#map {
    width: 100%;
    height: 400px;
}

.item{
    max-height: 540px;
}

.contact-form{
    margin-top: 10px;
}

.navbar-default{
    background-color: #fff;
    border-color: #F3A00A;
}

.main-text{
    margin-top: 10px;
}